body {
	background: lightgrey;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 10px;
	height: 100%;
}

html {
	height: 100%;
}

.forms {
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	font-family: "Verdana", sans-serif;
	background-color: white;
	border: 1px solid black;
	padding: 10px 50px 0px;
	border-radius: 10px;
	text-align: left;
	width: 180px;
	margin-top: 80px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

h2,h3 {
	text-align: left;
}

header {
	display: flex;
	background-color: darkgray;
	margin: 0px auto 0px;
}

input[type="submit"] {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

main {
	width: 100%;
	margin: 0 auto;
}

.message {
	color: black;
	text-align: center;
	font-weight: bold;
}

.error {
	color: red;
}
